*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.psess
*.vsp
*.vspx
*.sap

# SQL Server files
*.mdf
*.ldf

CMakeFiles/

.DS_Store
node_modules/
/dist/ 
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 处理希望添加空文件夹
.gitkeep

# 处理Java Spring 工程变成出的target文件夹
/tagget/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.vcxproj
*.vcxproj.filters
*.exe
*.ilk
*.pdb
*.cmake
*.sln